<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bags Catalog</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="https://kit.fontawesome.com/55d0223fcd.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
        <script
        src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
        integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0="
        crossorigin="anonymous"></script>
</head>
<body>
        <div class="header">
                <a href="/"><h1 class="header-title">Ackbee</h1></a>
                <div class="bag-menu">
                        <div class="cart">
                                <a href="/cart">
                                        <i class="fa-solid fa-bag-shopping"></i>
                                        <span class="cart-size">0</span>
                                </a>
                        </div>
                        <i class="fa-solid fa-bars"></i>
                </div>
                <div class="search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" name="search-query" id="search-query" placeholder="Search">
                </div>
        </div>
        <div class="cart-tile">
                <h4>Shopping Bag</h4>  
        </div>
        <div class="cart-details">
                <div class="cart-item">
                        <div class="cart-item-img">
                                <img src="images/cub.PNG" alt="">
                        </div>
                        <div class="cart-item-info">
                                <div class="item-title">
                                        <p class="product-name">Cub</p>
                                        <p class="product-info">Brown Kraft Twisted Handle Shopping Bag 10”x 5”x 10” (250/case)</p>
                                        <p class="product-color">White</p>
                                </div>
                                <div class="product-price cart-item-price">45.00</div>
                                <div class="cart-quan-selector"></div>
                                <div class="edit-cart">
                                        <p class="edit-cart">Edit</p>
                                        <p class="rm-cart">Remove</p>
                                </div>
                        </div>
                </div>
                <div class="order-summary">
                        <h4>Order Summary</h4>
                        <div class="order-totals">
                                <div class="subtotal-container">
                                        <p>Subtotal</p>
                                        <p class="subtotal"></p>
                                </div>
                                <div class="tax-container">
                                        <p>Estimated Tax</p>
                                        <p class="tax"></p>
                                </div>
                                <div class="total-container">
                                        <p>Total</p>
                                        <p class="total"></p>
                                </div>
                                <div class="place-order">Place Order</div>
                        </div>
                </div>
        </div>
        <div class="footer">
                <div class="footer-items">
                        <ul>
                                <li>Privacy Policy</li>
                                <li>Terms of Use</li>
                                <li>Accessibility</li>
                                <li>Ackbee.com</li>
                                <br>
                                <li><i class="fa-regular fa-copyright"></i>2022 Ackbee All Rights Reserved</li>
                        </ul>
                </div>
        </div>
</body>
</html>