<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bags Catalog</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="https://kit.fontawesome.com/55d0223fcd.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
        <script
        src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
        integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0="
        crossorigin="anonymous"></script>
</head>
<body>
        <div class="header">
                <a href="/"><h1 class="header-title">Ackbee</h1></a>
                <div class="bag-menu">
                        <div class="cart">
                                <a href="/cart">
                                        <i class="fa-solid fa-bag-shopping"></i>
                                        <span class="cart-size">0</span>
                                </a>
                        </div>
                        <i class="fa-solid fa-bars"></i>
                </div>
                <div class="search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" name="search-query" id="search-query" placeholder="Search">
                </div>
        </div>
        <div class="product-contianer">
        <div class="product-info">
                <div class="title">
                        <p class="product-name">#2</p>
                        <p class="product-details">Paper Bag (500/case)</p>
                </div>
                <div class="product-img">
                        <img src="images/cub.PNG" alt="">
                </div>
                <div class="price-container">
                        <p class="product-price">7.00</p>
                </div>
        </div>
        <div class="colors">
                <span class="color1"></span>
                <span class="color2"></span>
                <p class="color-choice">Brown</p>
        </div>
        <div class="quan">
                <label for="">Qty*</label>
                <div class="product-quantity-selector">
                        <input type="number" name="product-quantity" id="product-quantity" placeholder="0">
                        <div class="quan-select-arrows">
                           <i class="fa-solid fa-angle-up add-quan"></i>
                           <i class="fa-solid fa-angle-down rm-quan"></i>     
                        </div>
                </div>   
        </div>
        <div class="add-item">
                <p class="add-to-bag">Add to Bag</p>
        </div>
        </div>
        <div class="footer">
                <div class="footer-items">
                        <ul>
                                <li>Privacy Policy</li>
                                <li>Terms of Use</li>
                                <li>Accessibility</li>
                                <li>Ackbee.com</li>
                                <br>
                                <li><i class="fa-regular fa-copyright"></i>2022 Ackbee All Rights Reserved</li>
                        </ul>
                </div>
        </div>
</body>
</html>